
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


main {
    padding: 20px;
}

.tribute {
    
    justify-content: center;
    align-items: center;
    
}

.txt{
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}



